VITE_DIMENS_BASE_URL=/api
VITE_DIMENS_TOKEN_ENDPOINT=
VITE_DEV_TEAM_ID=
VITE_DEV_PROJECT_ID=
VITE_DEV_SHEET_ID=
VITE_DEV_INSTANCE_ID=dev-instance
VITE_DEV_MODULE_CODE=dimens-web
VITE_DEV_INITIAL_ROUTE=/
